.layout {
  background: linear-gradient(pink, blue);
}

.login-page {
  width: 400px;
  border: 1px solid grey;
  padding: 2rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.251);
  margin: auto;
  box-shadow: -5px 5px 5px 5px rgba(203, 203, 203, 0.64);
}
